<h1>Math Operation</h1>
<hr>
<form class="calculate" ngForm #form="ngForm" (ngSubmit)="calculate()">
    <input type="number" name="firstNumber" placeholder="First Parameter" [(ngModel)]="firstNumber" min="1" required />
    <input type="number" name="secondNumber" placeholder="Second Parameter" [(ngModel)]="secondNumber" min="1"
        required />
    <button type="submit" [disabled]="form.invalid">
        Calculate
    </button>
</form>
<b *ngIf="total > 0">
    Addition is - {{ total }}
</b>